<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- spring容器启动监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- spring服务层的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/com/quartz/web/config/spring/applicationContext.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>QuartzWebUIServlet</servlet-name>
		<servlet-class>com.quartz.web.servlet.QuartzWebUIServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>QuartzInitializerServlet</display-name>
		<servlet-name>QuartzInitializerServlet</servlet-name>
		<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
		<!-- 指定QuartzServlet的配置文件，这里我们用的是quartz.properties -->
		<init-param>
			<param-name>config-file</param-name>
			<param-value>/quartz.properties</param-value>
		</init-param>
		<!-- 表示是否在卸载应用时同时停止调度，该参数推荐true，否则你的tomcat进程可能停不下来 -->
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 表示应用加载时就启动调度器，如果为false，则quartz.properties中指定的调度器在用户访问这个Servlet之后才会加载，在此之前，
		如果你通过ServletContext查找SchedulerFactory是可以找到的，但是要得到具体的Scheduler，那么你一定会发现Jvm抛出了一个NullPointerExcetion -->
		<init-param>
            <param-name>start-scheduler-on-load</param-name>
            <param-value>false</param-value>
        </init-param>
		<!-- 指定QuartzServlet是否随应用启动，-1表示否，正数表示随应用启动，数值越小，则优先权越高 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
    <servlet-name>QuartzTestServlet</servlet-name>
    <servlet-class>com.quartz.web.servlet.QuartzTestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>处理登录请求</description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.quartz.web.servlet.SignUpServlet</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>QuartzWebUIServlet</servlet-name>
		<url-pattern>/ui</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuartzTestServlet</servlet-name>
    <url-pattern>/QuartzTestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
	<!-- 过滤器处理编码格式 -->
	<filter>
		<filter-name>ValidFilter</filter-name>
		<filter-class>com.quartz.web.util.ValidFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ValidFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
